In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import scipy

In [2]:
dd0=pd.read_csv("train.csv")
ddtest0=pd.read_csv("test.csv")
ddall=dd0.append(ddtest0, sort=False)
num_train=len(dd0)
ddall.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0.0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0.0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0.0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1.0
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0.0

In [3]:
drop_cols=["bin_0"]

# Split 2 Letters; This is the only part which is not generic and would actually require data inspection
ddall["ord_5a"]=ddall["ord_5"].str[0]
ddall["ord_5b"]=ddall["ord_5"].str[1]
drop_cols.append("ord_5")

In [6]:
ddall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500000 entries, 0 to 199999
Data columns (total 27 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      500000 non-null  int64
 1   bin_0   500000 non-null  int64
 2   bin_1   500000 non-null  int64
 3   bin_2   500000 non-null  int64
 4   bin_3   500000 non-null  object
 5   bin_4   500000 non-null  object
 6   nom_0   500000 non-null  object
 7   nom_1   500000 non-null  object
 8   nom_2   500000 non-null  object
 9   nom_3   500000 non-null  object
 10  nom_4   500000 non-null  object
 11  nom_5   500000 non-null  object
 12  nom_6   500000 non-null  object
 13  nom_7   500000 non-null  object
 14  nom_8   500000 non-null  object
 15  nom_9   500000 non-null  object
 16  ord_0   500000 non-null  int64
 17  ord_1   500000 non-null  object
 18  ord_2   500000 non-null  object
 19  ord_3   500000 non-null  object
 20  ord_4   500000 non-null  object
 21  ord_5   500000 non-null  object
 22  day     500000 non-null  int64
 23  month   500000 non-null  int64
 24  target  300000 non-null  float64
 25  ord_5a  500000 non-null  object
 26  ord_5b  500000 non-null  object
dtypes: float64(1), int64(7), object(19)
memory usage: 106.8+ MB

In [8]:
X=ddall[ddall.columns.difference(["id", "target"] + drop_cols)]
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500000 entries, 0 to 199999
Data columns (total 23 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   bin_1   500000 non-null  int64
 1   bin_2   500000 non-null  int64
 2   bin_3   500000 non-null  object
 3   bin_4   500000 non-null  object
 4   day     500000 non-null  int64
 5   month   500000 non-null  int64
 6   nom_0   500000 non-null  object
 7   nom_1   500000 non-null  object
 8   nom_2   500000 non-null  object
 9   nom_3   500000 non-null  object
 10  nom_4   500000 non-null  object
 11  nom_5   500000 non-null  object
 12  nom_6   500000 non-null  object
 13  nom_7   500000 non-null  object
 14  nom_8   500000 non-null  object
 15  nom_9   500000 non-null  object
 16  ord_0   500000 non-null  int64
 17  ord_1   500000 non-null  object
 18  ord_2   500000 non-null  object
 19  ord_3   500000 non-null  object
 20  ord_4   500000 non-null  object
 21  ord_5a  500000 non-null  object
 22  ord_5b  500000 non-null  object
dtypes: int64(5), object(18)
memory usage: 91.6+ MB

In [9]:
X_oh=X[X.columns.difference(["ord_1", "ord_4", "ord_5a", "ord_5b", "day", "month"])]
oh1=pd.get_dummies(X_oh, columns=X_oh.columns, drop_first=True, sparse=True)
ohc1=oh1.sparse.to_coo()

In [10]:
from sklearn.base import TransformerMixin
from itertools import repeat
import scipy


class ThermometerEncoder(TransformerMixin):
    """
    Assumes all values are known at fit
    """
    def __init__(self, sort_key=None):
        self.sort_key = sort_key
        self.value_map_ = None
    
    def fit(self, X, y=None):
        self.value_map_ = {val: i for i, val in enumerate(sorted(X.unique(), key=self.sort_key))}
        return self
    
    def transform(self, X, y=None):
        values = X.map(self.value_map_)
        
        possible_values = sorted(self.value_map_.values())
        
        idx1 = []
        idx2 = []
        
        all_indices = np.arange(len(X))
        
        for idx, val in enumerate(possible_values[:-1]):
            new_idxs = all_indices[values > val]
            idx1.extend(new_idxs)
            idx2.extend(repeat(idx, len(new_idxs)))
            
        result = scipy.sparse.coo_matrix(([1] * len(idx1), (idx1, idx2)), shape=(len(X), len(possible_values)), dtype="int8")
            
        return result

In [11]:
thermos=[]
for col in ["ord_1", "ord_2", "ord_3", "ord_4", "ord_5a", "day", "month"]:
    if col=="ord_1":
        sort_key=['Novice', 'Contributor', 'Expert', 'Master', 'Grandmaster'].index
    elif col=="ord_2":
        sort_key=['Freezing', 'Cold', 'Warm', 'Hot', 'Boiling Hot', 'Lava Hot'].index
    elif col in ["ord_3", "ord_4", "ord_5a"]:
        sort_key=str
    elif col in ["day", "month"]:
        sort_key=int
    else:
        raise ValueError(col)
    
    enc=ThermometerEncoder(sort_key=sort_key)
    thermos.append(enc.fit_transform(X[col]))

In [14]:
ohc=scipy.sparse.hstack([ohc1] + thermos).tocsr()
display(ohc)

X_train = ohc[:num_train]
X_test = ohc[num_train:]
y_train = dd0["target"].values

<500000x16414 sparse matrix of type '<class 'numpy.int16'>'
	with 34244885 stored elements in Compressed Sparse Row format>

In [15]:
clf=LogisticRegression(C=0.123456789, solver="lbfgs", max_iter=5000)  # MODEL

clf.fit(X_train, y_train)

pred=clf.predict_proba(X_test)[:,1]

pd.DataFrame({"id": ddtest0["id"], "target": pred}).to_csv("submission.csv", index=False)

In [16]:
from sklearn.model_selection import cross_validate

score=cross_validate(clf, X_train, y_train, cv=3, scoring="roc_auc")["test_score"].mean()
print(f"{score:.6f}")

0.802518

In [17]:
oh1

,bin_1_1,bin_2_1,bin_3_T,bin_4_Y,nom_0_Green,nom_0_Red,nom_1_Polygon,nom_1_Square,nom_1_Star,nom_1_Trapezoid,...,ord_3_f,ord_3_g,ord_3_h,ord_3_i,ord_3_j,ord_3_k,ord_3_l,ord_3_m,ord_3_n,ord_3_o
0,0,0,1,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,0,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
3,1,0,0,1,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
199996,0,0,0,1,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
199997,1,1,1,1,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
199998,0,0,1,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
199999,0,0,1,1,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
thermos

[<500000x5 sparse matrix of type '<class 'numpy.int8'>'
 	with 811771 stored elements in COOrdinate format>,
 <500000x6 sparse matrix of type '<class 'numpy.int8'>'
 	with 1170653 stored elements in COOrdinate format>,
 <500000x15 sparse matrix of type '<class 'numpy.int8'>'
 	with 3306674 stored elements in COOrdinate format>,
 <500000x26 sparse matrix of type '<class 'numpy.int8'>'
 	with 6398564 stored elements in COOrdinate format>,
 <500000x52 sparse matrix of type '<class 'numpy.int8'>'
 	with 12734899 stored elements in COOrdinate format>,
 <500000x7 sparse matrix of type '<class 'numpy.int8'>'
 	with 1005159 stored elements in COOrdinate format>,
 <500000x12 sparse matrix of type '<class 'numpy.int8'>'
 	with 2386725 stored elements in COOrdinate format>]