In [2]:
import pandas as pd
import numpy as np
import string
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline


# Load data
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

print(train.shape)
train.head()

(300000, 25)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [3]:
%%time

# Subset
target = train['target']
train_id = train['id']
test_id = test['id']
train.drop(['target', 'id'], axis=1, inplace=True)
test.drop('id', axis=1, inplace=True)

print(train.shape)
train.head()

(300000, 23)
Wall time: 53.9 ms

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8

In [4]:
# Transfer the cyclical features into two dimensional sin-cos features
# https://www.kaggle.com/avanwyk/encoding-cyclical-features-for-deep-learning
def cyclical_encode(data, col, max_val):
    data[col + '_sin'] = np.sin(2 * np.pi * data[col]/max_val)
    data[col + '_cos'] = np.cos(2 * np.pi * data[col]/max_val)
    return data

train = cyclical_encode(train, 'day', 7)
test = cyclical_encode(test, 'day', 7) 

train = cyclical_encode(train, 'month', 12)
test = cyclical_encode(test, 'month', 12)

train.drop(['day', 'month'], axis=1, inplace=True)
test.drop(['day', 'month'], axis=1, inplace=True)

print(train.shape)
train.head()

(300000, 25)

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day_sin,day_cos,month_sin,month_cos
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2,Grandmaster,Cold,h,D,kr,9.749279e-01,-0.222521,0.866025,0.500000
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,1,Grandmaster,Hot,a,A,bF,-2.449294e-16,1.000000,-0.866025,-0.500000
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,1,Expert,Lava Hot,h,R,Jc,-2.449294e-16,1.000000,0.866025,0.500000
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,1,Grandmaster,Boiling Hot,i,D,kW,9.749279e-01,-0.222521,0.500000,0.866025
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,1,Grandmaster,Freezing,a,R,qP,-2.449294e-16,1.000000,-0.866025,-0.500000

In [5]:
# First, I encode ord_1 to ord_4 since the numbers of their unique values are small 
mapper_ord_1 = {'Novice': 1, 
                'Contributor': 2,
                'Expert': 3, 
                'Master': 4, 
                'Grandmaster': 5}

mapper_ord_2 = {'Freezing': 1, 
                'Cold': 2, 
                'Warm': 3, 
                'Hot': 4,
                'Boiling Hot': 5, 
                'Lava Hot': 6}

mapper_ord_3 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 
                'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15}

mapper_ord_4 = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 
                'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15,
                'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'V': 22, 
                'W': 23, 'X': 24, 'Y': 25, 'Z': 26}

# https://www.kaggle.com/asimandia/let-s-try-some-feature-engineering
traintest = pd.concat([train, test])
train['ord_1_count'] = train['ord_1'].map(traintest['ord_1'].value_counts().to_dict())
test['ord_1_count'] = test['ord_1'].map(traintest['ord_1'].value_counts().to_dict())

for col, mapper in zip(['ord_1', 'ord_2', 'ord_3', 'ord_4'], [mapper_ord_1, mapper_ord_2, mapper_ord_3, mapper_ord_4]):
    train[col+'_oe'] = train[col].replace(mapper)
    test[col+'_oe'] = test[col].replace(mapper)
    train.drop(col, axis=1, inplace=True)
    test.drop(col, axis=1, inplace=True)

print(train.shape)
train.head()

(300000, 26)

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,ord_5,day_sin,day_cos,month_sin,month_cos,ord_1_count,ord_1_oe,ord_2_oe,ord_3_oe,ord_4_oe
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,kr,9.749279e-01,-0.222521,0.866025,0.500000,129143,5,2,8,4
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,bF,-2.449294e-16,1.000000,-0.866025,-0.500000,129143,5,4,1,1
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,Jc,-2.449294e-16,1.000000,0.866025,0.500000,41709,3,6,8,18
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,kW,9.749279e-01,-0.222521,0.500000,0.866025,129143,5,5,9,4
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,qP,-2.449294e-16,1.000000,-0.866025,-0.500000,129143,5,1,1,18

In [6]:
# # Then encode 'ord_5' using ACSII values

# Option 1: Add up the indices of two letters in string.ascii_letters
train['ord_5_oe_add'] = train['ord_5'].apply(lambda x:sum([(string.ascii_letters.find(letter)+1) for letter in x]))
test['ord_5_oe_add'] = test['ord_5'].apply(lambda x:sum([(string.ascii_letters.find(letter)+1) for letter in x]))

# # Option 2: Join the indices of two letters in string.ascii_letters
# train['ord_5_oe_join'] = train['ord_5'].apply(lambda x:float(''.join(str(string.ascii_letters.find(letter)+1) for letter in x)))
# test['ord_5_oe_join'] = test['ord_5'].apply(lambda x:float(''.join(str(string.ascii_letters.find(letter)+1) for letter in x)))

# # # Option 3: Split 'ord_5' into two new columns using the indices of two letters in string.ascii_letters, separately
# train['ord_5_oe1'] = train['ord_5'].apply(lambda x:(string.ascii_letters.find(x[0])+1))
# test['ord_5_oe1'] = test['ord_5'].apply(lambda x:(string.ascii_letters.find(x[0])+1))

# train['ord_5_oe2'] = train['ord_5'].apply(lambda x:(string.ascii_letters.find(x[1])+1))
# test['ord_5_oe2'] = test['ord_5'].apply(lambda x:(string.ascii_letters.find(x[1])+1))

# # Option 4: Simply sort their values by string
# # https://www.kaggle.com/c/cat-in-the-dat/discussion/105702#latest-607652
# ord_5 = sorted(list(set(train['ord_5'].values)))
# ord_5 = dict(zip(ord_5, range(len(ord_5))))
# train.loc[:, 'ord_5'] = train['ord_5'].apply(lambda x: ord_5[x]).astype(float)
# test.loc[:, 'ord_5'] = test['ord_5'].apply(lambda x: ord_5[x]).astype(float)

# Option 4 need keep ord_5. the other options are free to remove ord_5.
train.drop('ord_5', axis=1, inplace=True)
test.drop('ord_5', axis=1, inplace=True)

print(train.shape)
train.head()

(300000, 26)

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,day_sin,day_cos,month_sin,month_cos,ord_1_count,ord_1_oe,ord_2_oe,ord_3_oe,ord_4_oe,ord_5_oe_add
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,9.749279e-01,-0.222521,0.866025,0.500000,129143,5,2,8,4,29
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,-2.449294e-16,1.000000,-0.866025,-0.500000,129143,5,4,1,1,34
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,-2.449294e-16,1.000000,0.866025,0.500000,41709,3,6,8,18,39
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,9.749279e-01,-0.222521,0.500000,0.866025,129143,5,5,9,4,60
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,-2.449294e-16,1.000000,-0.866025,-0.500000,129143,5,1,1,18,59

In [7]:
# Transfer the dtypes of encoded ordinal features into float64
for col in ['ord_0', 'ord_1_oe', 'ord_2_oe', 'ord_3_oe', 'ord_4_oe', 'ord_5_oe_add', 'ord_1_count']: 
    train[col]= train[col].astype('float64')
    test[col]= test[col].astype('float64')
    
print(train.shape)
train.head()

(300000, 26)

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,day_sin,day_cos,month_sin,month_cos,ord_1_count,ord_1_oe,ord_2_oe,ord_3_oe,ord_4_oe,ord_5_oe_add
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,9.749279e-01,-0.222521,0.866025,0.500000,129143.0,5.0,2.0,8.0,4.0,29.0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,-2.449294e-16,1.000000,-0.866025,-0.500000,129143.0,5.0,4.0,1.0,1.0,34.0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,-2.449294e-16,1.000000,0.866025,0.500000,41709.0,3.0,6.0,8.0,18.0,39.0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,9.749279e-01,-0.222521,0.500000,0.866025,129143.0,5.0,5.0,9.0,4.0,60.0
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,-2.449294e-16,1.000000,-0.866025,-0.500000,129143.0,5.0,1.0,1.0,18.0,59.0

## The other encoding methods have been taken. Will compare it later.

In [8]:
# Do some ordinal encoding
# from sklearn.preprocessing import OrdinalEncoder

# ordinal_columns = ['ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4']
# oe = OrdinalEncoder()
# train_oe = oe.fit_transform(train[ordinal_columns])
# test_oe = oe.transform(test[ordinal_columns])

# ordinal_columns_oe = ['ord_0_oe_skl', 'ord_1_oe_skl', 'ord_2_oe_skl', 'ord_3_oe_skl', 'ord_4_oe_skl', 'ord_5_oe_skl']
# train = pd.concat([train, pd.DataFrame(train_oe, columns=ordinal_columns_oe)], axis=1)
# test = pd.concat([test, pd.DataFrame(test_oe, columns=ordinal_columns_oe)], axis=1)

# train.drop(ordinal_columns, axis=1, inplace=True)
# test.drop(ordinal_columns, axis=1, inplace=True)

In [10]:
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score as auc
from catboost import Pool, CatBoostClassifier
from category_encoders import TargetEncoder

# Specify the non-float features as categorical to the model.
categorical_features_indices = np.where(test.dtypes != np.float)[0]
print('Categorial Feature Indices: ', categorical_features_indices)

Categorial Feature Indices:  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

In [11]:
%%time

# Model
def run_cv_model(categorical_indices, train, test, target, model_fn, params={}, eval_fn=None, label='model', n_folds=5):
    kf = KFold(n_splits=n_folds)
    fold_splits = kf.split(train, target)
    cv_scores = []
    pred_full_test = 0
    pred_train = np.zeros((train.shape[0]))
    feature_importances = pd.DataFrame()
    feature_importances['feature'] = test.columns
    i = 1
    for dev_index, val_index in fold_splits:
        print('-------------------------------------------')
        print('Started ' + label + ' fold ' + str(i) + f'/{n_folds}')
        dev_X, val_X = train.iloc[dev_index], train.iloc[val_index]
        dev_y, val_y = target.iloc[dev_index], target.iloc[val_index]
        params2 = params.copy()
        pred_val_y, pred_test_y, fi = model_fn(categorical_indices, dev_X, dev_y, val_X, val_y, test, params2)
        feature_importances[f'fold_{i}'] = fi
        pred_full_test = pred_full_test + pred_test_y
        pred_train[val_index] = pred_val_y
        if eval_fn is not None:
            cv_score = eval_fn(val_y, pred_val_y)
            cv_scores.append(cv_score)
            print(label + ' cv score {}: {}'.format(i, cv_score), '\n')
        i += 1
    print('{} cv scores : {}'.format(label, cv_scores))
    print('{} cv mean score : {}'.format(label, np.mean(cv_scores)))
    print('{} cv std score : {}'.format(label, np.std(cv_scores)))
    pred_full_test = pred_full_test / n_folds
    results = {'label': label,
              'train': pred_train, 'test': pred_full_test,
              'cv': cv_scores, 'fi': feature_importances}
    return results


def runCAT(categorical_indices, train_X, train_y, test_X, test_y, test_X2, params):
    # Pool the data and specify the categorical feature indices
    print('Pool Data')
    _train = Pool(train_X, label=train_y, cat_features = categorical_indices)
    _valid = Pool(test_X, label=test_y, cat_features = categorical_indices)    
    print('Train CAT')
    model = CatBoostClassifier(**params)
    fit_model = model.fit(_train,
                          eval_set=_valid,
                          use_best_model=True,
                          verbose=1000,
                          plot=False)
    feature_im = fit_model.feature_importances_
    print('Predict 1/2')
    pred_test_y = fit_model.predict_proba(test_X)[:, 1]
    print('Predict 2/2')
    pred_test_y2 = fit_model.predict_proba(test_X2)[:, 1]
    return pred_test_y, pred_test_y2, feature_im


# Use some baseline parameters
cat_params = {'loss_function': 'CrossEntropy', 
              'eval_metric': "AUC",
              'task_type': "GPU",
              'learning_rate': 0.01,
              'iterations': 10000,
              'random_seed': 42,
              'od_type': "Iter",
#               'bagging_temperature': 0.2,
#               'depth': 10,
              'early_stopping_rounds': 500,
             }

n_folds = 5
results = run_cv_model(categorical_features_indices, train, test, target, runCAT, cat_params, auc, 'cat', n_folds=n_folds)

-------------------------------------------
Started cat fold 1/5
Pool Data
Train CAT
0:	learn: 0.6855367	test: 0.6866221	best: 0.6866221 (0)	total: 34.7ms	remaining: 5m 47s
1000:	learn: 0.7770541	test: 0.7802492	best: 0.7802492 (1000)	total: 33.9s	remaining: 5m 5s
2000:	learn: 0.7837066	test: 0.7848805	best: 0.7848810 (1999)	total: 1m 9s	remaining: 4m 37s
3000:	learn: 0.7874335	test: 0.7862413	best: 0.7862415 (2998)	total: 1m 42s	remaining: 3m 59s
4000:	learn: 0.7903470	test: 0.7868782	best: 0.7868782 (4000)	total: 2m 15s	remaining: 3m 23s
5000:	learn: 0.7930385	test: 0.7872641	best: 0.7872648 (4996)	total: 2m 48s	remaining: 2m 48s
6000:	learn: 0.7955387	test: 0.7874113	best: 0.7874122 (5997)	total: 3m 21s	remaining: 2m 14s
7000:	learn: 0.7979488	test: 0.7875345	best: 0.7875385 (6929)	total: 3m 54s	remaining: 1m 40s
8000:	learn: 0.8003112	test: 0.7876016	best: 0.7876022 (7995)	total: 4m 29s	remaining: 1m 7s
9000:	learn: 0.8026339	test: 0.7876449	best: 0.7876614 (8830)	total: 5m 3s	remaining: 33.7s
bestTest = 0.7876614332
bestIteration = 8830
Shrink model to first 8831 iterations.
Predict 1/2
Predict 2/2
cat cv score 1: 0.7876614782098914

-------------------------------------------
Started cat fold 2/5
Pool Data
Train CAT
0:	learn: 0.6850807	test: 0.6841818	best: 0.6841818 (0)	total: 37.9ms	remaining: 6m 19s
1000:	learn: 0.7770945	test: 0.7791840	best: 0.7791840 (1000)	total: 35.1s	remaining: 5m 15s
2000:	learn: 0.7837535	test: 0.7835840	best: 0.7835843 (1999)	total: 1m 10s	remaining: 4m 42s
3000:	learn: 0.7874315	test: 0.7847698	best: 0.7847727 (2989)	total: 1m 46s	remaining: 4m 7s
4000:	learn: 0.7903946	test: 0.7853647	best: 0.7853658 (3998)	total: 2m 20s	remaining: 3m 31s
5000:	learn: 0.7930096	test: 0.7856656	best: 0.7856667 (4955)	total: 2m 55s	remaining: 2m 55s
6000:	learn: 0.7955723	test: 0.7858216	best: 0.7858237 (5970)	total: 3m 29s	remaining: 2m 19s
bestTest = 0.7858523726
bestIteration = 6212
Shrink model to first 6213 iterations.
Predict 1/2
Predict 2/2
cat cv score 2: 0.785852340478783

-------------------------------------------
Started cat fold 3/5
Pool Data
Train CAT
0:	learn: 0.6838416	test: 0.6890126	best: 0.6890126 (0)	total: 33.9ms	remaining: 5m 39s
1000:	learn: 0.7752973	test: 0.7863043	best: 0.7863043 (1000)	total: 35.1s	remaining: 5m 15s
2000:	learn: 0.7818925	test: 0.7905810	best: 0.7905810 (2000)	total: 1m 10s	remaining: 4m 43s
3000:	learn: 0.7856091	test: 0.7919648	best: 0.7919660 (2997)	total: 1m 46s	remaining: 4m 7s
4000:	learn: 0.7885619	test: 0.7926246	best: 0.7926272 (3996)	total: 2m 20s	remaining: 3m 31s
5000:	learn: 0.7912248	test: 0.7929681	best: 0.7929682 (4998)	total: 2m 53s	remaining: 2m 53s
6000:	learn: 0.7937374	test: 0.7931641	best: 0.7931652 (5997)	total: 3m 27s	remaining: 2m 18s
7000:	learn: 0.7961890	test: 0.7932965	best: 0.7932965 (7000)	total: 4m 1s	remaining: 1m 43s
8000:	learn: 0.7985764	test: 0.7933493	best: 0.7933571 (7876)	total: 4m 33s	remaining: 1m 8s
bestTest = 0.7933571339
bestIteration = 7876
Shrink model to first 7877 iterations.
Predict 1/2
Predict 2/2
cat cv score 3: 0.7933570428693746

-------------------------------------------
Started cat fold 4/5
Pool Data
Train CAT
0:	learn: 0.6859794	test: 0.6807026	best: 0.6807026 (0)	total: 34.6ms	remaining: 5m 45s
1000:	learn: 0.7769827	test: 0.7791014	best: 0.7791014 (1000)	total: 45.8s	remaining: 6m 51s
2000:	learn: 0.7835438	test: 0.7838131	best: 0.7838131 (2000)	total: 1m 25s	remaining: 5m 41s
3000:	learn: 0.7872003	test: 0.7851882	best: 0.7851882 (3000)	total: 1m 58s	remaining: 4m 36s
4000:	learn: 0.7902107	test: 0.7860005	best: 0.7860007 (3995)	total: 2m 31s	remaining: 3m 46s
5000:	learn: 0.7929296	test: 0.7863864	best: 0.7863871 (4999)	total: 3m 4s	remaining: 3m 3s
6000:	learn: 0.7954420	test: 0.7865580	best: 0.7865602 (5991)	total: 3m 37s	remaining: 2m 24s
7000:	learn: 0.7978798	test: 0.7866670	best: 0.7866695 (6910)	total: 4m 11s	remaining: 1m 47s
8000:	learn: 0.8003033	test: 0.7867073	best: 0.7867112 (7949)	total: 4m 45s	remaining: 1m 11s
9000:	learn: 0.8026441	test: 0.7867386	best: 0.7867498 (8920)	total: 5m 19s	remaining: 35.4s
9999:	learn: 0.8049533	test: 0.7867562	best: 0.7867579 (9992)	total: 5m 53s	remaining: 0us
bestTest = 0.7867578864
bestIteration = 9992
Shrink model to first 9993 iterations.
Predict 1/2
Predict 2/2
cat cv score 4: 0.7867579119462171

-------------------------------------------
Started cat fold 5/5
Pool Data
Train CAT
0:	learn: 0.6854024	test: 0.6828068	best: 0.6828068 (0)	total: 34.7ms	remaining: 5m 47s
1000:	learn: 0.7766191	test: 0.7798664	best: 0.7798664 (1000)	total: 35s	remaining: 5m 14s
2000:	learn: 0.7833296	test: 0.7846572	best: 0.7846572 (2000)	total: 1m 10s	remaining: 4m 42s
3000:	learn: 0.7870240	test: 0.7860571	best: 0.7860596 (2996)	total: 1m 46s	remaining: 4m 7s
4000:	learn: 0.7899829	test: 0.7866729	best: 0.7866752 (3996)	total: 2m 20s	remaining: 3m 31s
5000:	learn: 0.7926551	test: 0.7870449	best: 0.7870455 (4982)	total: 2m 55s	remaining: 2m 55s
6000:	learn: 0.7951750	test: 0.7872620	best: 0.7872642 (5996)	total: 3m 29s	remaining: 2m 19s
7000:	learn: 0.7976416	test: 0.7873691	best: 0.7873700 (6784)	total: 4m 4s	remaining: 1m 44s
8000:	learn: 0.8000767	test: 0.7874711	best: 0.7874728 (7996)	total: 4m 38s	remaining: 1m 9s
9000:	learn: 0.8024298	test: 0.7875173	best: 0.7875207 (8911)	total: 5m 12s	remaining: 34.7s
bestTest = 0.7875332236
bestIteration = 9254
Shrink model to first 9255 iterations.
Predict 1/2
Predict 2/2
cat cv score 5: 0.7875332299817424

cat cv scores : [0.7876614782098914, 0.785852340478783, 0.7933570428693746, 0.7867579119462171, 0.7875332299817424]
cat cv mean score : 0.7882324006972017
cat cv std score : 0.0026425575978118003
Wall time: 27min 40s